@import url("https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css");
.slick-next {
  right: 0px;
  background: #1d73b6 !important;
  border-radius: 50%;
  z-index: 11;
  /* color: black; */
}

.slick-prev {
  left: 10px;
  z-index: 11;
  background: #1d73b6 !important;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-1 {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.img-2 {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
